name: Web Tests

on: [push, workflow_dispatch]

jobs:
  web:
    name: Test web
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - name: Yarn Install
      run: |
        cd web && yarn install && cd -
    - name: ESLint
      run: |
        cd web && ./node_modules/.bin/eslint . --ext .js,.jsx
    - name: Test with Jest
      run: |
        cd web && ./node_modules/.bin/jest
